---
name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: mortcal
  RG_STG: mortcal-rg-stg
  ACA_APP_STG: mortcal-containerapp-stg
  RG_PROD: mortcal-rg-prod
  ACA_APP_PROD: mortcal-containerapp-prod

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # --------------------
  # TESTS (every push)
  # --------------------
  test:
    name: Run pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit (all files)
        run: pre-commit run --all-files


  build:
    name: Build & Push Docker Image
    needs: test
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.sha.outputs.tag }}

    steps:
      - uses: actions/checkout@v5

      - id: sha
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: |
          docker build -t tiggy081/$IMAGE_NAME:${{ steps.sha.outputs.tag }} .
          docker push tiggy081/$IMAGE_NAME:${{ steps.sha.outputs.tag }}

  # --------------------
  # DEPLOY STG
  # --------------------
  deploy-stg:
    name: Deploy to STG
    needs: build
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v5

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          az containerapp update \
            --name $ACA_APP_STG \
            --resource-group $RG_STG \
            --image tiggy081/$IMAGE_NAME:${{ needs.build.outputs.image_tag }}

  # --------------------
  # DEPLOY PROD (manual approval)
  # --------------------
  deploy-prod:
    name: Deploy to PROD
    needs: [deploy-stg, build]
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v5

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          az containerapp update \
            --name $ACA_APP_PROD \
            --resource-group $RG_PROD \
            --image tiggy081/$IMAGE_NAME:${{ needs.build.outputs.image_tag }}
