---
name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - dev
  release:
    types: [published]
  workflow_dispatch:

env:
  IMAGE_NAME: mortcal
  RG_STG: mortcal-rg-stg
  ACA_APP_STG: mortcal-containerapp-stg
  RG_PROD: mortcal-rg-prod
  ACA_APP_PROD: mortcal-containerapp-prod

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # --------------------
  # Formatter and Linter (every push)
  # --------------------
  formatLintAndTest:
    name: Format, Lint and Test Code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit (all files)
        run: pre-commit run --all-files

      - name: Unit test
        run: echo "unit tests"


  build:
    name: Build & Push Docker Image
    needs: formatLintAndTest
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set_tag.outputs.IMAGE_TAG }}

    steps:
      - uses: actions/checkout@v5

      - id: set_tag
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          if [[ "${GITHUB_EVENT_NAME}" == "release" ]]; then
            echo "IMAGE_TAG=${GITHUB_REF_NAME}-${SHORT_SHA}" >> $GITHUB_OUTPUT
          else
            echo "IMAGE_TAG=${SHORT_SHA}" >> $GITHUB_OUTPUT
          fi

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: |
          docker build -t tiggy081/$IMAGE_NAME:${{ steps.set_tag.outputs.IMAGE_TAG }} .
          docker push tiggy081/$IMAGE_NAME:${{ steps.set_tag.outputs.IMAGE_TAG }}


  # --------------------
  # DEPLOY STG
  # --------------------
  deploy-stg:
    name: Deploy to STG
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'release'

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v5
      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          az containerapp update \
            --name $ACA_APP_STG \
            --resource-group $RG_STG \
            --image tiggy081/$IMAGE_NAME:${{ needs.build.outputs.image_tag }} \

  # --------------------
  # DEPLOY PROD (manual approval)
  # --------------------
  deploy-prod:
    if: github.event_name == 'release'
    name: Deploy to PROD
    needs: [deploy-stg, build]
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v5

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: |
          az containerapp update \
            --name $ACA_APP_PROD \
            --resource-group $RG_PROD \
            --image tiggy081/$IMAGE_NAME:${{ needs.build.outputs.image_tag }} \
